Goal of analysis script is to pull in excel files with manually entered intake and weight data, determine daily intake per body weight (for both water and ethanol) for subsequent analysis

In [39]:
import pandas as pd
import scipy.stats as stats
import numpy as np
import re
import os

%matplotlib inline
import seaborn as sns
import warnings; warnings.simplefilter('ignore')

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
from tkinter import filedialog
from tkinter import *
root = Tk()
root.directory = filedialog.askdirectory()
print (root.directory)

C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/Round 3/mice

In [84]:
path_names = []
files = os.listdir(root.directory)
for file in files: 
        path_names.append(root.directory + "/" + file)

path_names[0]

'C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/Round 3/mice/561.xlsx'

In [85]:
group_path = "C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/Round 3/groups.xlsx"
data = pd.read_excel(group_path)
df_mice = pd.DataFrame(data = data)
df_mice.head()

   Animal  Cage_#  Treatment  Number Group                 Notes Blood loc 2BC stim  Starting_weight  PostInjury_weight  sac_weight
0     560     177          2       3    5-                 sac'd         b   n    n             29.0                 29         NaN
1     561     177          2       3     5  belly wounds healing         b   y    y             29.5                 26        37.0
2     562     177          2       3     5                   NaN         b   y    y             31.6                 30        29.9
3     563     178          1       3     4                   NaN         b   y    n             27.5                 25        37.0
4     564     178          1       3     4                   NaN         b   y    n             28.4                 27        29.0

Loop through path names to create pandas data table from excel file. Get animal number from path name (animal number is file name), create array of animal number the length of the data_table and add this as a column.

In [86]:
data_start = pd.DataFrame()

for path in path_names:
    data_excel = pd.read_excel(path)
    data_table_int = pd.DataFrame(data = data_excel)
    
    name = path
    name = re.search("\d\d\d", path).group(0)
    name_long = [name] * len(data_table_int)
    
    group = df_mice.loc[df_mice['Animal'] == int(name), 'Group'].item()
    group_long = [group] * len(data_table_int)
    
    data_table_int = data_table_int.assign(Animal = name_long)
    data_table_int = data_table_int.assign(Group = group_long)  
    
    data_start = data_start.append(data_table_int, ignore_index=True)


data_start.head()

  Animal        Day  Day #  EtOH EtOH 8  EtOH after  EtOH bf  Group H20 8  H2O after  H2O b4  Notes  Weight
0    561     Friday      1     0      x        79.8     89.1      5     x       81.4    93.8    NaN    33.6
1    561     Monday      2     3      x        59.7     65.0      5     x       78.9    81.4    NaN    33.6
2    561    Tuesday      3     3      x        54.6     59.7      5     x       77.4    78.9    NaN    33.6
3    561  Wednesday      4     3      x        50.2     54.6      5     x       74.1    77.4    NaN    33.6
4    561   Thursday      5     3     49        45.5     50.2      5  73.4       71.8    74.1    NaN    33.6

In [87]:
def C2BC(data_start):
    "Analyzes intermittent two bottle choice data"
    
    data_start['H2O_intake_raw'] = data_start['H2O b4'] - data_start['H2O after']

    data_start['H2O_intake'] = data_start['H2O_intake_raw'] / (data_start['Weight'] /1000)

    data_start['H2O_intake_raw_8'] = data_start['H2O b4'].where(data_start['H20 8'] != 'x') \
    - data_start['H20 8'].where(data_start['H20 8'] != 'x')

    data_start['H2O_intake_8'] = data_start['H2O_intake_raw_8'] / (data_start['Weight'] /1000)



    data_start['EtOH_intake_raw'] = data_start['EtOH bf'] - data_start['EtOH after']

    data_start['EtOH_intake'] = (data_start['EtOH_intake_raw'] * data_start['EtOH']/100) / (data_start['Weight'] /1000)

    data_start['EtOH_intake_raw_8'] = \
    data_start['EtOH bf'].where(data_start['EtOH 8'] != 'x') - data_start['EtOH 8'].where(data_start['EtOH 8'] != 'x')

    data_start['EtOH_intake_8'] = \
    (data_start['EtOH_intake_raw_8'] * data_start['EtOH']/100) / (data_start['Weight'] /1000)


    data_start = data_start.fillna(value = 0)
    
    data_start['EtOH_pref'] = \
    data_start['EtOH_intake_raw'] / (data_start['EtOH_intake_raw'] + data_start['H2O_intake_raw'])

    data_start['EtOH_pref_8'] = \
    data_start['EtOH_intake_raw_8'] / (data_start['EtOH_intake_raw_8'] + data_start['H2O_intake_raw_8'])
    
    
    return data_start

In [88]:
intake_data = data_start.pipe(C2BC)
intake_data.head()

  Animal        Day  Day #  EtOH EtOH 8  EtOH after  EtOH bf  Group H20 8  H2O after  H2O b4  Notes  Weight  H2O_intake_raw  H2O_intake  H2O_intake_raw_8  H2O_intake_8  EtOH_intake_raw  EtOH_intake  EtOH_intake_raw_8  EtOH_intake_8  EtOH_pref  EtOH_pref_8
0    561     Friday      1     0      x        79.8     89.1      5     x       81.4    93.8    0.0    33.6            12.4  369.047619               0.0      0.000000              9.3     0.000000                0.0       0.000000   0.428571          NaN
1    561     Monday      2     3      x        59.7     65.0      5     x       78.9    81.4    0.0    33.6             2.5   74.404762               0.0      0.000000              5.3     4.732143                0.0       0.000000   0.679487          NaN
2    561    Tuesday      3     3      x        54.6     59.7      5     x       77.4    78.9    0.0    33.6             1.5   44.642857               0.0      0.000000              5.1     4.553571                0.0       0.000000   0.772727          NaN
3    561  Wednesday      4     3      x        50.2     54.6      5     x       74.1    77.4    0.0    33.6             3.3   98.214286               0.0      0.000000              4.4     3.928571                0.0       0.000000   0.571429          NaN
4    561   Thursday      5     3     49        45.5     50.2      5  73.4       71.8    74.1    0.0    33.6             2.3   68.452381               0.7     20.833333              4.7     4.196429                1.2       1.071429   0.671429     0.631579

In [89]:
intake_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396 entries, 0 to 395
Data columns (total 23 columns):
Animal               396 non-null object
Day                  396 non-null object
Day #                396 non-null int64
EtOH                 396 non-null int64
EtOH 8               396 non-null object
EtOH after           396 non-null float64
EtOH bf              396 non-null float64
Group                396 non-null int64
H20 8                396 non-null object
H2O after            396 non-null float64
H2O b4               396 non-null float64
Notes                396 non-null float64
Weight               396 non-null float64
H2O_intake_raw       396 non-null float64
H2O_intake           396 non-null float64
H2O_intake_raw_8     396 non-null float64
H2O_intake_8         396 non-null float64
EtOH_intake_raw      396 non-null float64
EtOH_intake          396 non-null float64
EtOH_intake_raw_8    396 non-null float64
EtOH_intake_8        396 non-null float64
EtOH_pref            396 non-null float64
EtOH_pref_8          99 non-null float64
dtypes: float64(16), int64(3), object(4)
memory usage: 71.2+ KB

In [90]:
data_table_all_calc = intake_data[['Animal', 'Group', 'Day #', 'EtOH', 'H2O_intake', 'H2O_intake_8', 'EtOH_intake', 'EtOH_intake_8', 'EtOH_pref', 'EtOH_pref_8']]
data_table_all_calc.head()

  Animal  Group  Day #  EtOH  H2O_intake  H2O_intake_8  EtOH_intake  EtOH_intake_8  EtOH_pref  EtOH_pref_8
0    561      5      1     0  369.047619      0.000000     0.000000       0.000000   0.428571          NaN
1    561      5      2     3   74.404762      0.000000     4.732143       0.000000   0.679487          NaN
2    561      5      3     3   44.642857      0.000000     4.553571       0.000000   0.772727          NaN
3    561      5      4     3   98.214286      0.000000     3.928571       0.000000   0.571429          NaN
4    561      5      5     3   68.452381     20.833333     4.196429       1.071429   0.671429     0.631579

In [91]:
negatives = data_table_all_calc[data_table_all_calc['EtOH'] < 0]
negatives.head()

Empty DataFrame
Columns: [Animal, Group, Day #, EtOH, H2O_intake, H2O_intake_8, EtOH_intake, EtOH_intake_8, EtOH_pref, EtOH_pref_8]
Index: []

In [92]:
data_table_calc = data_table_all_calc
data_table_calc.groupby(['Group', 'EtOH']).describe()

           Day #                                               EtOH_intake                                                                           EtOH_intake_8                                                          EtOH_pref                                                                       EtOH_pref_8                                                                       H2O_intake                                                                                           H2O_intake_8
           count  mean       std  min   25%   50%    75%   max       count       mean       std       min       25%        50%        75%        max         count      mean        std  min  25%  50%       75%        max     count      mean       std       min       25%       50%       75%       max       count      mean       std       min       25%       50%       75%       max      count         mean           std         min         25%         50%         75%            max        count      mean        std  min  25%  50%        75%        max
Group EtOH
2     0      6.0   1.0  0.000000  1.0  1.00   1.0   1.00   1.0         6.0   0.000000  0.000000  0.000000  0.000000   0.000000   0.000000   0.000000           6.0  0.000000   0.000000  0.0  0.0  0.0  0.000000   0.000000       6.0  0.524902  0.232135  0.251938  0.328196  0.553507  0.660967  0.840580         0.0       NaN       NaN       NaN       NaN       NaN       NaN       NaN        6.0   272.011058    200.935213   78.014184  158.863414  220.672129  301.889866     645.484950          6.0  0.000000   0.000000  0.0  0.0  0.0   0.000000   0.000000
      3     24.0   3.5  1.142080  2.0  2.75   3.5   4.25   5.0        24.0   3.252999  0.844867  1.595745  2.502635   3.419299   3.952128   4.782609          24.0  0.127808   0.258035  0.0  0.0  0.0  0.026596   0.868167      24.0  0.616944  0.139470  0.326087  0.490474  0.635467  0.744310  0.804348         6.0  0.488456  0.234249  0.142857  0.375000  0.500000  0.602273  0.818182       24.0    66.740590     24.128830   31.914894   43.246994   69.512328   81.506382     110.367893         24.0  4.126248   7.820496  0.0  0.0  0.0   1.607717  23.188406
      6     18.0   7.0  0.840168  6.0  6.00   7.0   8.00   8.0        18.0   7.898830  1.713105  4.680851  6.781480   8.094000   8.608028  12.688172          18.0  0.607465   0.942815  0.0  0.0  0.0  1.198604   2.580645      18.0  0.726288  0.088881  0.458333  0.697861  0.734492  0.781340  0.852459         6.0  0.703579  0.062249  0.625000  0.671875  0.689904  0.735577  0.800000       18.0    49.914791     19.369166   26.086957   36.016035   47.145720   52.760042      93.189964         18.0  4.045662   6.052145  0.0  0.0  0.0  10.390299  16.722408
      12    24.0  10.5  1.142080  9.0  9.75  10.5  11.25  12.0        24.0  10.821867  4.048292  4.342105  7.599889  10.687096  13.902439  21.261261          24.0  0.687619   1.301872  0.0  0.0  0.0  0.296053   4.181185      24.0  0.538460  0.180194  0.207547  0.379828  0.578784  0.657051  0.819444         6.0  0.512611  0.197809  0.200000  0.401070  0.585227  0.625000  0.727273       24.0    79.440774     37.276041   30.030030   53.178729   71.519280  102.542373     158.450704         24.0  5.861493  11.833867  0.0  0.0  0.0   2.252252  39.473684
3     0      6.0   1.0  0.000000  1.0  1.00   1.0   1.00   1.0         6.0   0.000000  0.000000  0.000000  0.000000   0.000000   0.000000   0.000000           6.0  0.000000   0.000000  0.0  0.0  0.0  0.000000   0.000000       6.0  0.513281  0.253650  0.114130  0.378645  0.584362  0.662203  0.798611         0.0       NaN       NaN       NaN       NaN       NaN       NaN       NaN        6.0   260.790470    151.784089   97.972973  164.566542  211.903179  350.894250     496.951220          6.0  0.000000   0.000000  0.0  0.0  0.0   0.000000   0.000000
      3     24.0   3.5  1.142080  2.0  2.75   3.5   4.25   5.0        24.0   3.050579  1.240282  1.372549  2.120696   2.835972   4.191308   5.304878          24.0  0.179811   0.336501  0.0  0.0  0.0  0.092025   1.097561      24.0  0.539561  0.209528  0.254237  0.357003  0.482740  0.717265  0.870968         6.0  0.637471  0.147773  0.400000  0.562937  0.668182  0.737500  0.800000       24.0    86.612524     39.786916   24.539877   55.053252   96.444114  111.204955     152.439024         24.0  3.341289   6.403850  0.0  0.0  0.0   1.633987  20.338983
      6     18.0   7.0  0.840168  6.0  6.00   7.0   8.00   8.0        18.0   7.445322  1.990198  3.312883  6.687491   7.490112   8.890918  10.000000          18.0  0.684324   1.053055  0.0  0.0  0.0  1.419647   2.760736      18.0  0.646668  0.151206  0.295082  0.591964  0.674567  0.749123  0.850000         6.0  0.693651  0.116746  0.500000  0.657143  0.700000  0.764286  0.833333       18.0    67.525194     28.874881   27.607362   47.727875   61.451157   78.942745     131.901840         18.0  4.971516   8.021402  0.0  0.0  0.0   9.202454  24.390244
      12    24.0  10.5  1.142080  9.0  9.75  10.5  11.25  12.0        24.0   8.030448  3.600415  2.926829  5.365419   7.436360  10.603898  16.724739          24.0  3.333512  13.905539  0.0  0.0  0.0  0.355030  68.414634      24.0  0.391423  0.190348  0.162500  0.240257  0.333462  0.522883  0.769231         6.0  0.568259  0.241709  0.285714  0.426136  0.512987  0.684524  0.958974       24.0   108.731403     42.914430   41.176471   74.509804  114.309471  135.049020     204.268293         24.0  5.061250   9.514148  0.0  0.0  0.0   2.613240  29.585799
4     0     12.0   1.0  0.000000  1.0  1.00   1.0   1.00   1.0        12.0   0.000000  0.000000  0.000000  0.000000   0.000000   0.000000   0.000000          12.0  0.000000   0.000000  0.0  0.0  0.0  0.000000   0.000000      12.0  0.558360  0.158607  0.309211  0.467406  0.506661  0.651821  0.828571         0.0       NaN       NaN       NaN       NaN       NaN       NaN       NaN       12.0   236.444493     92.448679  109.090909  163.833793  258.053122  319.703390     360.655738         12.0  0.000000   0.000000  0.0  0.0  0.0   0.000000   0.000000
      3     48.0   3.5  1.129865  2.0  2.75   3.5   4.25   5.0        48.0   3.099508  1.412108  0.726644  2.177401   2.907121   3.521833   9.087948          48.0  0.285272   0.967138  0.0  0.0  0.0  0.095541   6.547231      48.0  0.561472  0.167114  0.230769  0.434531  0.567037  0.660714  0.861538        12.0  0.576473  0.165953  0.357143  0.446154  0.572917  0.673077  0.930556       48.0    76.480789     28.511356   27.272727   55.646927   75.409836   95.743840     151.515152         48.0  4.422699   8.066905  0.0  0.0  0.0   2.396166  27.272727
      6     36.0   7.0  0.828079  6.0  6.00   7.0   8.00   8.0        36.0   6.386331  1.909273  3.762376  5.028385   5.882416   8.083079  10.032787          36.0  0.627480   0.970974  0.0  0.0  0.0  1.229479   2.754098      36.0  0.607023  0.143575  0.375000  0.487883  0.602083  0.702381  0.872727        12.0  0.642026  0.145550  0.454545  0.546875  0.625000  0.747076  0.933333       36.0    67.246130     23.283192   21.212121   51.415916   70.484084   83.059885     116.666667         36.0  5.537111   8.692516  0.0  0.0  0.0  12.830701  27.681661
      12    48.0  10.5  1.129865  9.0  9.75  10.5  11.25  12.0        48.0   8.968805  2.999222  4.067797  6.246650   8.638933  11.528564  15.575221          48.0  0.586795   1.088592  0.0  0.0  0.0  0.290323   3.552632      48.0  0.479859  0.164569  0.187500  0.366789  0.414448  0.637726  0.785714        12.0  0.468037  0.164497  0.250000  0.336134  0.478992  0.575721  0.750000       48.0    82.781324     30.008537   34.810127   55.358869   86.423046  105.459057     146.892655         48.0  5.908185  11.377220  0.0  0.0  0.0   1.923077  38.338658
5     0      9.0   1.0  0.000000  1.0  1.00   1.0   1.00   1.0         9.0   0.000000  0.000000  0.000000  0.000000   0.000000   0.000000   0.000000           9.0  0.000000   0.000000  0.0  0.0  0.0  0.000000   0.000000       9.0  0.449462  0.196953  0.179104  0.258621  0.493590  0.584337  0.712418         0.0       NaN       NaN       NaN       NaN       NaN       NaN       NaN        9.0   382.324691    217.391201  149.659864  246.428571  270.547945  444.827586     784.946237          9.0  0.000000   0.000000  0.0  0.0  0.0   0.000000   0.000000
      3     36.0   3.5  1.133893  2.0  2.75   3.5   4.25   5.0        36.0   3.357495  0.997012  1.578947  2.489835   3.345817   4.218750   5.156250          36.0  0.182629   0.332118  0.0  0.0  0.0  0.117188   1.071429      36.0  0.565617  0.183968  0.000479  0.450304  0.547857  0.724138  0.833333         9.0  0.557652  0.131163  0.384615  0.500000  0.545455  0.583333  0.833333       36.0  7477.777932  44389.041555   27.863777   54.421769   84.439544   98.660714  266413.793103         36.0  4.924379   9.271713  0.0  0.0  0.0   1.547988  30.959752
      6     27.0   7.0  0.832050  6.0  6.00   7.0   8.00   8.0        27.0   7.435345  2.366564  1.857585  5.689604   7.801858   9.234694  11.250000          27.0  0.655360   1.003418  0.0  0.0  0.0  1.462292   2.678571      27.0  0.631944  0.163358  0.196078  0.554779  0.684211  0.746251  0.847458         9.0  0.663121  0.138840  0.454545  0.555556  0.714286  0.769231  0.800000       27.0    69.947367     28.797638   28.125000   47.107015   61.643836   85.294672     126.934985         27.0  5.296050   8.240652  0.0  0.0  0.0  10.309400  24.767802
      12    36.0  10.5  1.133893  9.0  9.75  10.5  11.25  12.0        36.0   9.504103  5.159531  4.193548  7.034554   8.647974  10.619242  35.416667          36.0  0.575291   1.073282  0.0  0.0  0.0  0.322581   3.564356      36.0  0.444461  0.139219  0.206897  0.342424  0.419181  0.541093  0.779817         9.0  0.467881  0.127999  0.277778  0.363636  0.500000  0.500000  0.700000       36.0    94.867266     24.199085   50.000000   72.607261   98.220984  111.736621     141.104294         36.0  5.739526  11.303102  0.0  0.0  0.0   2.678571  39.867110

In [93]:
data_table_calc.columns.values

array(['Animal', 'Group', 'Day #', 'EtOH', 'H2O_intake', 'H2O_intake_8',
       'EtOH_intake', 'EtOH_intake_8', 'EtOH_pref', 'EtOH_pref_8'],
      dtype=object)

In [94]:
EtOH_days = pd.DataFrame(data = data_table_calc[['Animal', 'Group', 'Day #', 'EtOH', 'EtOH_intake', 'EtOH_intake_8', 'EtOH_pref', 'EtOH_pref_8']])
EtOH_days.head()

  Animal  Group  Day #  EtOH  EtOH_intake  EtOH_intake_8  EtOH_pref  EtOH_pref_8
0    561      5      1     0     0.000000       0.000000   0.428571          NaN
1    561      5      2     3     4.732143       0.000000   0.679487          NaN
2    561      5      3     3     4.553571       0.000000   0.772727          NaN
3    561      5      4     3     3.928571       0.000000   0.571429          NaN
4    561      5      5     3     4.196429       1.071429   0.671429     0.631579

In [95]:
EtOH_days = EtOH_days.set_index(['Group', 'Animal', 'Day #']).unstack(level=-1)
#EtOH_days.groupby(['Group']).mean()
EtOH_days.dropna(inplace=True, axis = 1)
EtOH_days.head()

             EtOH                                      EtOH_intake                                                                                                                   EtOH_intake_8                                                                       EtOH_pref                                                                                                               EtOH_pref_8
Day #          1  2  3  4  5  6  7  8   9   10  11  12          1         2         3         4         5         6         7         8          9          10         11         12            1    2    3    4         5    6    7         8    9    10   11        12        1         2         3         4         5         6         7         8         9         10        11        12          5         8         12
Group Animal
2     572       0  3  3  3  3  6  6  6  12  12  12  12         0.0  3.723404  3.404255  3.936170  1.595745  5.957447  4.680851  8.085106  10.563380  12.676056   8.873239   6.760563           0.0  0.0  0.0  0.0  0.106383  0.0  0.0  1.276596  0.0  0.0  0.0  2.535211  0.840580  0.744681  0.744186  0.804348  0.326087  0.736842  0.458333  0.808511  0.490196  0.576923  0.318182  0.340426    0.142857  0.666667  0.545455
      573       0  3  3  3  3  6  6  6  12  12  12  12         0.0  4.147910  2.122186  3.376206  4.147910  6.752412  8.102894  8.681672  21.261261   5.045045  14.414414  10.810811           0.0  0.0  0.0  0.0  0.868167  0.0  0.0  0.964630  0.0  0.0  0.0  2.882883  0.625000  0.796296  0.458333  0.673077  0.796296  0.714286  0.807692  0.818182  0.819444  0.583333  0.800000  0.750000    0.818182  0.625000  0.727273
      574       0  3  3  3  3  6  6  6  12  12  12  12         0.0  4.000000  2.260870  4.782609  2.434783  9.043478  8.347826  8.695652  12.786885  13.114754   7.213115   9.836066           0.0  0.0  0.0  0.0  0.347826  0.0  0.0  2.086957  0.0  0.0  0.0  3.278689  0.672956  0.766667  0.490566  0.785714  0.528302  0.852459  0.786885  0.746269  0.722222  0.666667  0.379310  0.555556    0.333333  0.750000  0.625000
      578       0  3  3  3  3  6  6  6  12  12  12  12         0.0  4.214047  3.913043  2.709030  3.612040  7.826087  8.227425  9.632107  12.631579   4.736842   7.105263   4.342105           0.0  0.0  0.0  0.0  0.702341  0.0  0.0  2.207358  0.0  0.0  0.0  1.184211  0.251938  0.626866  0.684211  0.450000  0.679245  0.709091  0.732143  0.716418  0.653061  0.214286  0.327273  0.207547    0.636364  0.687500  0.200000
      579       0  3  3  3  3  6  6  6  12  12  12  12         0.0  2.121212  3.434343  3.030303  2.525253  6.464646  7.070707  6.868687  14.237288  10.169492   8.135593   7.728814           0.0  0.0  0.0  0.0  0.505051  0.0  0.0  1.818182  0.0  0.0  0.0  2.440678  0.276923  0.466667  0.693878  0.600000  0.510204  0.680851  0.744681  0.693878  0.648148  0.500000  0.400000  0.380000    0.500000  0.692308  0.352941

In [96]:
EtOH_days.to_csv('EtOH_days.csv')

In [97]:
sns.barplot(x = 'EtOH', y = 'EtOH_intake_8', hue = 'Group', data = EtOH_days, alpha=0.9)

ValueError: Could not interpret input 'Group'