Goal of analysis script is to pull in excel files with manually entered intake, weight, and behavior data, ETA, and EDA

In [1]:
#getting and working with data
import pandas as pd
import scipy.stats as stats
import numpy as np
import re
import os

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

import warnings; warnings.simplefilter('ignore')
np.set_printoptions(suppress=True)

#visualizing results
%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt
#import yellowbrick as yb

In [2]:
from tkinter import filedialog
from tkinter import *
root = Tk()
root.directory = filedialog.askdirectory()
print (root.directory)

C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/2BC 6dq r1 and 2/mice

In [3]:
path_names = []
files = os.listdir(root.directory)
for file in files: 
        path_names.append(root.directory + "/" + file)

path_names

['C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/2BC 6dq r1 and 2/mice/622_1m.xlsx',
 'C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/2BC 6dq r1 and 2/mice/623_1m.xlsx',
 'C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/2BC 6dq r1 and 2/mice/624_1m.xlsx',
 'C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/2BC 6dq r1 and 2/mice/625_1m.xlsx',
 'C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/2BC 6dq r1 and 2/mice/626_1m.xlsx',
 'C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/2BC 6dq r1 and 2/mice/627_1m.xlsx',
 'C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/2BC 6dq r1 and 2/mice/628_1m.xlsx',
 'C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/2BC 6dq r1 and 2/mice/629_1m.xlsx',
 'C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/2BC 6dq r1 and 2/mice/630_1m.xlsx',
 'C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/2BC 6dq r1 and 2/mice/631_1m.xlsx',
 'C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/2BC 6dq r1 and 2/mice/645_1m.xlsx',
 'C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/2BC 6dq r1 and 2/mice/646_1m.xlsx',
 'C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/2BC 6dq r1 and 2/mice/648_1m.xlsx',
 'C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/2BC 6dq r1 and 2/mice/649_1m.xlsx',
 'C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/2BC 6dq r1 and 2/mice/650_1m.xlsx',
 'C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/2BC 6dq r1 and 2/mice/651_1m.xlsx',
 'C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/2BC 6dq r1 and 2/mice/652_1m.xlsx',
 'C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/2BC 6dq r1 and 2/mice/653_1m.xlsx',
 'C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/2BC 6dq r1 and 2/mice/654_1m.xlsx',
 'C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/2BC 6dq r1 and 2/mice/655_1m.xlsx',
 'C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/2BC 6dq r1 and 2/mice/656_1m.xlsx']

In [5]:
group_path = "C:/Users/Schindler/Documents/Schindler_Lab/Data/Ethanol/Intermit 2BC/2BC 6dq r1 and 2/anymaze_data.xlsx"
data = pd.read_excel(group_path)
df_behavior = pd.DataFrame(data = data)
df_behavior.head()

   Animal  Cage_#  Treatment  Number  Group     Notes  wt_baseline  wt_blast  wt_72h  wt_28d  wt_blast_%    wt_72h_%    wt_28d_%  Distance_OFB_72  Speed_OFB_72  Center_time_OFB_72  Center_entries_OFB_72  Center_distance_OFB_72  Outside_time_OFB_72  Outside_entries_OFB_72  Outside_distance_OFB_72  Small_time_OFB_72  Small_entries_OFB_72  Small_distance_OFB_72  Distance_OFB_28  Speed_OFB_28  Center_time_OFB_28  Center_entries_OFB_28  Center_distance_OFB_28  Outside_time_OFB_28  Outside_entries_OFB_28  Outside_distance_OFB_28  Small_time_OFB_28  Small_entries_OFB_28  Small_distance_OFB_28  Distance_EZM_28  Speed_EZM_28  OA_entries_EZM_28  OA_time_EZM_28  OA_distance_EZM_28  CA_entries_EZM_28  CA_time_EZM_28  CA_distance_EZM_28
0     621     197          1       3      4  fighting         27.0      27.4    27.0    30.0  101.481481  100.000000  111.111111           35.488         0.118                62.3                     24                   9.284                237.7                      24                   26.204                8.2                     9                  1.047            9.567         0.032                23.1                      7                   2.373                276.9                       8                    7.193                2.7                     4                  0.487            2.188         0.007                  7            88.4               0.482                  7           211.6               1.706
1     622     197          1       3      4  fighting         25.6      25.7    25.9    28.0  100.390625  101.171875  109.375000           38.488         0.128                36.7                     23                   7.604                263.3                      24                   30.884                2.5                     5                  0.604           19.596         0.065                37.6                     14                   4.578                262.4                      15                   15.018                3.1                     6                  0.907           11.088         0.037                 29           118.1               3.095                 28           181.9               7.993
2     623     197          1       3      4  fighting         27.2      27.9    28.0    30.6  102.573529  102.941176  112.500000           28.815         0.096                62.9                     19                   7.292                237.0                      18                   21.523                6.5                    10                  1.206           17.954         0.060                34.5                     14                   3.855                265.5                      15                   14.099                1.9                     2                  0.278            8.304         0.028                 24            90.5               2.641                 24           209.5               5.662
3     624     198          2       3      5       NaN         27.3      25.3    26.7    29.2   92.673993   97.802198  106.959707           41.226         0.137                38.2                     27                   7.728                261.8                      27                   33.498                5.1                     6                  0.733           17.362         0.058                41.0                     13                   4.270                259.0                      14                   13.092                8.0                     7                  0.857            9.937         0.033                 33           122.3               3.291                 32           177.7               6.646
4     625     198          2       3      5       NaN         27.9      25.2    27.2    30.0   90.322581   97.491039  107.526882           32.112         0.107                56.1                     27                   8.169                243.9                      27                   23.943                8.2                     9                  1.063           24.151         0.081                47.2                     21                   5.890                252.8                      22                   18.260                5.1                     6                  0.860           10.478         0.035                 23            98.2               2.805                 23           201.8               7.673

In [7]:
df_behavior.groupby('Group').mean()

           Animal      Cage_#  Treatment  Number  wt_baseline   wt_blast     wt_72h     wt_28d  wt_blast_%    wt_72h_%    wt_28d_%  Distance_OFB_72  Speed_OFB_72  Center_time_OFB_72  Center_entries_OFB_72  Center_distance_OFB_72  Outside_time_OFB_72  Outside_entries_OFB_72  Outside_distance_OFB_72  Small_time_OFB_72  Small_entries_OFB_72  Small_distance_OFB_72  Distance_OFB_28  Speed_OFB_28  Center_time_OFB_28  Center_entries_OFB_28  Center_distance_OFB_28  Outside_time_OFB_28  Outside_entries_OFB_28  Outside_distance_OFB_28  Small_time_OFB_28  Small_entries_OFB_28  Small_distance_OFB_28  Distance_EZM_28  Speed_EZM_28  OA_entries_EZM_28  OA_time_EZM_28  OA_distance_EZM_28  CA_entries_EZM_28  CA_time_EZM_28  CA_distance_EZM_28
Group
4      635.272727  201.454545        1.0     3.0    26.809091  26.863636  27.236364  29.227273  100.202272  101.606459  109.091601        31.737909      0.105636           47.954545              20.272727                7.041455           252.027273               20.272727                24.696455           7.181818              8.000000               1.030273        18.929636      0.063000           41.381818              14.545455                4.736727           258.618182               15.272727                14.192818           6.927273              6.181818               0.858273         7.408727      0.024636          20.181818       76.818182            1.530727          19.909091      223.181818            5.877909
5      640.750000  203.250000        2.0     3.0    28.116667  25.891667  27.575000  30.016667   92.116453   98.122101  106.948170        30.870417      0.102833           40.766667              19.916667                5.851000           259.225000               20.166667                25.019083           5.383333              5.583333               0.715167        20.989917      0.069917           44.183333              16.666667                4.919833           255.816667               17.166667                16.070333           6.900000              5.583333               0.816583         8.303333      0.027833          23.250000       90.608333            2.400333          23.000000      209.383333            5.903083

Loop through path names to create pandas data table from excel file. Get animal number from path name (animal number is file name), create array of animal number the length of the data_table and add this as a column.

In [9]:
data_start = pd.DataFrame()

for path in path_names:
    data_excel = pd.read_excel(path)
    data_table_int = pd.DataFrame(data = data_excel)
    
    name = path
    name = re.search("\d\d\d", path).group(0)
    name_long = [name] * len(data_table_int)
    
    group = df_behavior.loc[df_behavior['Animal'] == int(name), 'Group'].item()
    group_long = [group] * len(data_table_int)
    
    data_table_int = data_table_int.assign(Animal = name_long)
    data_table_int = data_table_int.assign(Group = group_long)  
    
    data_start = data_start.append(data_table_int, ignore_index=True)


data_start.head()

         Day  Day #  EtOH  Weight EtOH bf EtOH after  H2O b4  H2O after H2O b4.1 H2O after.1 EtOH 8 H20 8 Animal  Group
0     Friday      1     0    28.5       x          x    85.6       79.6     88.6        85.3      x     x    622      4
1     Sunday      2     6    28.5      87       85.8    79.6       76.3        x           x      x     x    622      4
2     Monday      3     6    28.5    85.8         85    76.3       72.0        x           x      x     x    622      4
3    Tuesday      4     6    28.5      85         84    72.0       68.5        x           x      x     x    622      4
4  Wednesday      5     6    28.5      84         83    68.5       64.5        x           x   83.6  67.1    622      4

In [10]:
data_start.replace('x', 0, inplace=True)

In [11]:
def C2BC(data_start):
    "Analyzes two bottle choice data"
    
    #H20 24h data
    data_start['H2O_intake_1_raw'] = data_start['H2O b4'] - data_start['H2O after']
    
    data_start['H2O_intake_2_raw'] = data_start['H2O b4.1'] - data_start['H2O after.1']
    
    data_start['H2O_intake_raw'] = data_start['H2O_intake_1_raw'] + data_start['H2O_intake_2_raw']

    data_start['H2O_intake_24'] = data_start['H2O_intake_raw'] / (data_start['Weight'] /1000)
    
    #H20 8pm data
    if data_start['H20 8'] > 0:
        data_start['H2O_intake_raw_8'] = data_start['H2O b4'] - data_start['H20 8']

        data_start['H2O_intake_8'] = data_start['H2O_intake_raw_8'] / (data_start['Weight'] /1000)
    else:
        data_start['H2O_intake_raw_8'] = np.nan
        data_start['H2O_intake_8'] = np.nan

    #EtOH 24h data
    data_start['EtOH_intake_raw'] = data_start['EtOH bf'] - data_start['EtOH after']

    data_start['EtOH_intake'] = (data_start['EtOH_intake_raw'] * data_start['EtOH'] / 100) / (data_start['Weight'] /1000)

    #EtOH 8pm data
    if data_start['EtOH 8'] > 0:
        data_start['EtOH_intake_raw_8'] = data_start['EtOH bf'] - data_start['EtOH 8']

        data_start['EtOH_intake_8'] = (data_start['EtOH_intake_raw_8'] * data_start['EtOH'] / 100) / (data_start['Weight'] /1000)
    else:
        data_start['EtOH_intake_raw_8'] = np.nan
        data_start['EtOH_intake_8'] = np.nan
        
    #preference data
    data_start['EtOH_pref'] = data_start['EtOH_intake_raw'] / (data_start['EtOH_intake_raw'] + data_start['H2O_intake_raw'])

    if data_start['EtOH 8'] > 0:
        data_start['EtOH_pref_8'] = \
        data_start['EtOH_intake_raw_8'] / (data_start['EtOH_intake_raw_8'] + data_start['H2O_intake_raw_8'])
    else:
        data_start['EtOH_pref_8'] = np.nan
    
    return data_start

In [12]:
data_calc = data_start.apply(C2BC, axis = 1)
data_calc.head(9)

         Day  Day #  EtOH  Weight  EtOH bf  EtOH after  H2O b4  H2O after  H2O b4.1  H2O after.1  EtOH 8  H20 8 Animal  Group  H2O_intake_1_raw  H2O_intake_2_raw  H2O_intake_raw  H2O_intake_24  H2O_intake_raw_8  H2O_intake_8  EtOH_intake_raw  EtOH_intake  EtOH_intake_raw_8  EtOH_intake_8  EtOH_pref  EtOH_pref_8
0     Friday      1     0    28.5      0.0         0.0    85.6       79.6      88.6         85.3     0.0    0.0    622      4               6.0               3.3             9.3     326.315789               NaN           NaN              0.0     0.000000                NaN            NaN   0.000000          NaN
1     Sunday      2     6    28.5     87.0        85.8    79.6       76.3       0.0          0.0     0.0    0.0    622      4               3.3               0.0             3.3     115.789474               NaN           NaN              1.2     2.526316                NaN            NaN   0.266667          NaN
2     Monday      3     6    28.5     85.8        85.0    76.3       72.0       0.0          0.0     0.0    0.0    622      4               4.3               0.0             4.3     150.877193               NaN           NaN              0.8     1.684211                NaN            NaN   0.156863          NaN
3    Tuesday      4     6    28.5     85.0        84.0    72.0       68.5       0.0          0.0     0.0    0.0    622      4               3.5               0.0             3.5     122.807018               NaN           NaN              1.0     2.105263                NaN            NaN   0.222222          NaN
4  Wednesday      5     6    28.5     84.0        83.0    68.5       64.5       0.0          0.0    83.6   67.1    622      4               4.0               0.0             4.0     140.350877               1.4     49.122807              1.0     2.105263                0.4       0.842105   0.200000     0.222222
5   Thursday      6     6    28.5     83.0        82.4    64.5       61.0       0.0          0.0     0.0    0.0    622      4               3.5               0.0             3.5     122.807018               NaN           NaN              0.6     1.263158                NaN            NaN   0.146341          NaN
6     Friday      7     0    28.5      0.0         0.0    61.0       49.1      85.0         79.0     0.0    0.0    622      4              11.9               6.0            17.9     628.070175               NaN           NaN              0.0     0.000000                NaN            NaN   0.000000          NaN
7    Tuesday     11     6    28.5     82.0        81.0    49.1       44.6       0.0          0.0     0.0    0.0    622      4               4.5               0.0             4.5     157.894737               NaN           NaN              1.0     2.105263                NaN            NaN   0.181818          NaN
8  Wednesday     12     6    28.5     70.0        69.3    78.7       75.2       0.0          0.0     0.0    0.0    622      4               3.5               0.0             3.5     122.807018               NaN           NaN              0.7     1.473684                NaN            NaN   0.166667          NaN

In [13]:
data_calc.groupby('Group').mean()

          Day #      EtOH     Weight    EtOH bf  EtOH after     H2O b4  H2O after   H2O b4.1  H2O after.1    EtOH 8     H20 8  H2O_intake_1_raw  H2O_intake_2_raw  H2O_intake_raw  H2O_intake_24  H2O_intake_raw_8  H2O_intake_8  EtOH_intake_raw  EtOH_intake  EtOH_intake_raw_8  EtOH_intake_8  EtOH_pref  EtOH_pref_8
Group
4      5.666667  4.666667  28.920000  58.455556   56.557778  76.410000  73.286667  18.557778    16.442222  8.203333  8.398889          3.123333          2.115556        5.238889     183.167902          0.640000     22.097693         1.897778     4.037671           0.810000       1.733346   0.394824     0.552457
5      5.666667  4.666667  29.790909  56.553535   54.892929  72.366667  68.307071  18.490909    16.416162  7.955556  7.832323          4.059596          2.074747        6.134343     204.172085          0.709091     23.805624         1.660606     3.379541           1.345455       2.673005   0.336752     0.558091

In [14]:
data_calc_only = data_calc[['Animal', 'Group', 'Day #', 'EtOH', 'H2O_intake_24', 'EtOH_intake', 'EtOH_pref']]
data_calc_only.head(9)

  Animal  Group  Day #  EtOH  H2O_intake_24  EtOH_intake  EtOH_pref
0    622      4      1     0     326.315789     0.000000   0.000000
1    622      4      2     6     115.789474     2.526316   0.266667
2    622      4      3     6     150.877193     1.684211   0.156863
3    622      4      4     6     122.807018     2.105263   0.222222
4    622      4      5     6     140.350877     2.105263   0.200000
5    622      4      6     6     122.807018     1.263158   0.146341
6    622      4      7     0     628.070175     0.000000   0.000000
7    622      4     11     6     157.894737     2.105263   0.181818
8    622      4     12     6     122.807018     1.473684   0.166667

In [34]:
#process etoh intake (ave over first six days), etoh deprivation (day 11), and quinine (day 12) data
EtOH_intake = data_calc_only.loc[(data_calc_only['Day #'] > 0) & (data_calc_only['Day #'] < 7)].groupby('Animal').mean()
EtOH_intake.columns = [str(col) + '_6dave' for col in EtOH_intake.columns]

EtOH_dep_intake = data_calc_only.loc[data_calc_only['Day #'] == 11].groupby('Animal').mean()
EtOH_dep_intake.columns = [str(col) + '_dep' for col in EtOH_dep_intake.columns]

EtOH_dep_intake['H2O_intake_dep_diff'] = (EtOH_dep_intake['H2O_intake_24_dep'] / EtOH_intake['H2O_intake_24_6dave']*100) - 100
EtOH_dep_intake['EtOH_intake_dep_diff'] = (EtOH_dep_intake['EtOH_intake_dep'] / EtOH_intake['EtOH_intake_6dave']*100) - 100
EtOH_dep_intake['EtOH_pref_dep_diff'] = (EtOH_dep_intake['EtOH_pref_dep'] / EtOH_intake['EtOH_pref_6dave']*100) - 100

EtOH_quinine_intake = data_calc_only.loc[data_calc_only['Day #'] == 12].groupby('Animal').mean()
EtOH_quinine_intake.columns = [str(col) + '_quin' for col in EtOH_quinine_intake.columns]

EtOH_quinine_intake['H2O_intake_quin_diff'] = (EtOH_quinine_intake['H2O_intake_24_quin'] / EtOH_intake['H2O_intake_24_6dave']*100) - 100
EtOH_quinine_intake['EtOH_intake_quin_diff'] = (EtOH_quinine_intake['EtOH_intake_quin'] / EtOH_intake['EtOH_intake_6dave']*100) - 100
EtOH_quinine_intake['EtOH_pref_quin_diff'] = (EtOH_quinine_intake['EtOH_pref_quin'] / EtOH_intake['EtOH_pref_6dave']*100) - 100

In [66]:
#process baseline H20 intake (Day_1) and 8pm data
Day_1 = data_calc.loc[data_calc['Day #'] == 1].groupby('Animal').mean()
data_8pm = data_calc.loc[data_calc['H2O_intake_8'] > 0].groupby('Animal').mean()

In [68]:
data_8pm

        Day #  EtOH  Weight  EtOH bf  EtOH after  H2O b4  H2O after  H2O b4.1  H2O after.1  EtOH 8  H20 8  Group  H2O_intake_1_raw  H2O_intake_2_raw  H2O_intake_raw  H2O_intake_24  H2O_intake_raw_8  H2O_intake_8  EtOH_intake_raw  EtOH_intake  EtOH_intake_raw_8  EtOH_intake_8  EtOH_pref  EtOH_pref_8
Animal
622         5     6    28.5     84.0        83.0    68.5       64.5       0.0          0.0    83.6   67.1      4               4.0               0.0             4.0     140.350877               1.4     49.122807              1.0     2.105263                0.4       0.842105   0.200000     0.222222
623         5     6    30.8     86.2        84.5    72.4       69.5       0.0          0.0    85.9   71.7      4               2.9               0.0             2.9      94.155844               0.7     22.727273              1.7     3.311688                0.3       0.584416   0.369565     0.300000
624         5     6    29.0     81.6        79.9    74.3       71.0       0.0          0.0    81.1   73.5      5               3.3               0.0             3.3     113.793103               0.8     27.586207              1.7     3.517241                0.5       1.034483   0.340000     0.384615
625         5     6    30.0     83.5        81.3    69.0       66.4       0.0          0.0    83.1   68.1      5               2.6               0.0             2.6      86.666667               0.9     30.000000              2.2     4.400000                0.4       0.800000   0.458333     0.307692
626         5     6    29.4     75.5        73.2    68.6       66.3       0.0          0.0    74.8   68.3      5               2.3               0.0             2.3      78.231293               0.3     10.204082              2.3     4.693878                0.7       1.428571   0.500000     0.700000
627         5     6    29.0     82.1        80.0    77.2       75.4       0.0          0.0    81.4   76.9      4               1.8               0.0             1.8      62.068966               0.3     10.344828              2.1     4.344828                0.7       1.448276   0.538462     0.700000
628         5     6    30.8     84.0        82.0    79.4       77.2       0.0          0.0    83.4   78.6      4               2.2               0.0             2.2      71.428571               0.8     25.974026              2.0     3.896104                0.6       1.168831   0.476190     0.428571
629         5     6    32.7     91.3        88.7    73.8       72.4       0.0          0.0    90.8   73.3      4               1.4               0.0             1.4      42.813456               0.5     15.290520              2.6     4.770642                0.5       0.917431   0.650000     0.500000
630         5     6    32.4     79.4        74.7    65.6       64.0       0.0          0.0    78.2   65.2      5               1.6               0.0             1.6      49.382716               0.4     12.345679              4.7     8.703704                1.2       2.222222   0.746032     0.750000
631         5     6    31.2     81.8        80.5    76.4       72.4       0.0          0.0    81.3   75.6      5               4.0               0.0             4.0     128.205128               0.8     25.641026              1.3     2.500000                0.5       0.961538   0.245283     0.384615
645         5     6    26.9     66.0        62.7    77.1       75.8       0.0          0.0    65.0   76.7      4               1.3               0.0             1.3      48.327138               0.4     14.869888              3.3     7.360595                1.0       2.230483   0.717391     0.714286
646         5     6    25.3     51.4        45.8    79.9       78.4       0.0          0.0    49.8   79.5      4               1.5               0.0             1.5      59.288538               0.4     15.810277              5.6    13.280632                1.6       3.794466   0.788732     0.800000
648         5     6    27.6     68.8        65.3    76.0       73.6       0.0          0.0    67.7   75.2      4               2.4               0.0             2.4      86.956522               0.8     28.985507              3.5     7.608696                1.1       2.391304   0.593220     0.578947
649         5     6    29.9     63.4        60.7    77.0       74.4       0.0          0.0    62.4   76.3      4               2.6               0.0             2.6      86.956522               0.7     23.411371              2.7     5.418060                1.0       2.006689   0.509434     0.588235
650         5     6    27.7     69.2        66.2    81.0       79.9       0.0          0.0    68.3   80.6      4               1.1               0.0             1.1      39.711191               0.4     14.440433              3.0     6.498195                0.9       1.949458   0.731707     0.692308
651         5     6    31.4     74.6        72.8    69.6       65.4       0.0          0.0    74.2   68.4      5               4.2               0.0             4.2     133.757962               1.2     38.216561              1.8     3.439490                0.4       0.764331   0.300000     0.250000
652         5     6    31.0     69.9        68.2    73.5       69.4       0.0          0.0    62.9   72.6      5               4.1               0.0             4.1     132.258065               0.9     29.032258              1.7     3.290323                7.0      13.548387   0.293103     0.886076
653         5     6    24.7     65.3        62.3    78.3       76.2       0.0          0.0    64.6   77.6      5               2.1               0.0             2.1      85.020243               0.7     28.340081              3.0     7.287449                0.7       1.700405   0.588235     0.500000
654         5     6    31.2     65.3        62.1    54.3       51.7       0.0          0.0    64.2   53.7      5               2.6               0.0             2.6      83.333333               0.6     19.230769              3.2     6.153846                1.1       2.115385   0.551724     0.647059
655         5     6    27.4     58.0        54.5    80.0       78.5       0.0          0.0    56.8   79.6      5               1.5               0.0             1.5      54.744526               0.4     14.598540              3.5     7.664234                1.2       2.627737   0.700000     0.750000
656         5     6    30.0     67.5        65.2    73.6       70.4       0.0          0.0    66.4   72.8      5               3.2               0.0             3.2     106.666667               0.8     26.666667              2.3     4.600000                1.1       2.200000   0.418182     0.578947

In [74]:
EtOH_final = pd.DataFrame()
EtOH_final['Group'] = EtOH_intake['Group_6dave']
EtOH_final = pd.concat([EtOH_final, EtOH_intake.loc[:, 'H2O_intake_24_6dave':]], axis = 1)
EtOH_final = pd.concat([EtOH_final, EtOH_dep_intake.loc[:, 'H2O_intake_24_dep':]], axis = 1)
EtOH_final = pd.concat([EtOH_final, EtOH_quinine_intake.loc[:, 'H2O_intake_24_quin':]], axis = 1)
EtOH_final = pd.concat([EtOH_final, Day_1.loc[:, 'H2O_intake_24']], axis = 1)
EtOH_final = pd.concat([EtOH_final, data_8pm.loc[:, ('H2O_intake_8', 'EtOH_intake_8', 'EtOH_pref_8')]], axis = 1)
EtOH_final.head()

        Group  H2O_intake_24_6dave  EtOH_intake_6dave  EtOH_pref_6dave  H2O_intake_24_dep  EtOH_intake_dep  EtOH_pref_dep  H2O_intake_dep_diff  EtOH_intake_dep_diff  EtOH_pref_dep_diff  H2O_intake_24_quin  EtOH_intake_quin  EtOH_pref_quin  H2O_intake_quin_diff  EtOH_intake_quin_diff  EtOH_pref_quin_diff  H2O_intake_24  H2O_intake_8  EtOH_intake_8  EtOH_pref_8
Animal
622       4.0           163.157895           1.614035         0.165349         157.894737         2.105263       0.181818            -3.225806             30.434783            9.960355          122.807018          1.473684        0.166667            -24.731183              -8.695652             0.796992     326.315789     49.122807       0.842105     0.222222
623       4.0           133.116883           2.370130         0.273888          58.441558         6.233766       0.640000           -56.097561            163.013699          133.672358          120.129870          1.558442        0.177778             -9.756098             -34.246575           -35.091012     314.935065     22.727273       0.584416     0.300000
624       5.0           150.574713           2.517241         0.255268         113.793103         5.379310       0.440678           -24.427481            113.698630           72.633510            0.000000          2.275862        1.000000           -100.000000              -9.589041           291.745272     331.034483     27.586207       1.034483     0.384615
625       5.0           147.777778           3.000000         0.315961          66.666667         8.800000       0.687500           -54.887218            193.333333          117.590396          140.000000          1.600000        0.160000             -5.263158             -46.666667           -49.360780     393.333333     30.000000       0.800000     0.307692
626       5.0           139.455782           3.333333         0.406644          51.020408         6.938776       0.693878           -63.414634            108.163265           70.635078          115.646259          1.632653        0.190476            -17.073171             -51.020408           -53.158998     489.795918     10.204082       1.428571     0.700000

In [75]:
EtOH_final.groupby('Group').mean()

       H2O_intake_24_6dave  EtOH_intake_6dave  EtOH_pref_6dave  H2O_intake_24_dep  EtOH_intake_dep  EtOH_pref_dep  H2O_intake_dep_diff  EtOH_intake_dep_diff  EtOH_pref_dep_diff  H2O_intake_24_quin  EtOH_intake_quin  EtOH_pref_quin  H2O_intake_quin_diff  EtOH_intake_quin_diff  EtOH_pref_quin_diff  H2O_intake_24  H2O_intake_8  EtOH_intake_8  EtOH_pref_8
Group
4.0             145.156192           4.669282         0.453750          71.276075         6.251418       0.597600           -41.379075             54.824410           38.672015          113.515704          2.071929        0.233317             -8.158579             -45.968828           -43.431440     518.866387     22.097693       1.733346     0.552457
5.0             172.689415           3.719787         0.365712          77.307327         6.307797       0.571928           -48.221592             78.135416           65.903784          112.171228          1.789351        0.264565            -25.443785             -49.243866           -16.665623     525.024987     23.805624       2.673005     0.558091

In [76]:
final_data = EtOH_final[['Group', 'H2O_intake_24', 'H2O_intake_24_6dave', 'EtOH_intake_6dave', 'EtOH_pref_6dave', 'H2O_intake_8', 'EtOH_intake_8', 'EtOH_pref_8', 'H2O_intake_dep_diff', 'EtOH_intake_dep_diff', 'EtOH_pref_dep_diff', 'H2O_intake_quin_diff', 'EtOH_intake_quin_diff', 'EtOH_pref_quin_diff']]
final_data.head()

        Group  H2O_intake_24  H2O_intake_24_6dave  EtOH_intake_6dave  EtOH_pref_6dave  H2O_intake_8  EtOH_intake_8  EtOH_pref_8  H2O_intake_dep_diff  EtOH_intake_dep_diff  EtOH_pref_dep_diff  H2O_intake_quin_diff  EtOH_intake_quin_diff  EtOH_pref_quin_diff
Animal
622       4.0     326.315789           163.157895           1.614035         0.165349     49.122807       0.842105     0.222222            -3.225806             30.434783            9.960355            -24.731183              -8.695652             0.796992
623       4.0     314.935065           133.116883           2.370130         0.273888     22.727273       0.584416     0.300000           -56.097561            163.013699          133.672358             -9.756098             -34.246575           -35.091012
624       5.0     331.034483           150.574713           2.517241         0.255268     27.586207       1.034483     0.384615           -24.427481            113.698630           72.633510           -100.000000              -9.589041           291.745272
625       5.0     393.333333           147.777778           3.000000         0.315961     30.000000       0.800000     0.307692           -54.887218            193.333333          117.590396             -5.263158             -46.666667           -49.360780
626       5.0     489.795918           139.455782           3.333333         0.406644     10.204082       1.428571     0.700000           -63.414634            108.163265           70.635078            -17.073171             -51.020408           -53.158998

In [77]:
final_data.groupby('Group').mean()

       H2O_intake_24  H2O_intake_24_6dave  EtOH_intake_6dave  EtOH_pref_6dave  H2O_intake_8  EtOH_intake_8  EtOH_pref_8  H2O_intake_dep_diff  EtOH_intake_dep_diff  EtOH_pref_dep_diff  H2O_intake_quin_diff  EtOH_intake_quin_diff  EtOH_pref_quin_diff
Group
4.0       518.866387           145.156192           4.669282         0.453750     22.097693       1.733346     0.552457           -41.379075             54.824410           38.672015             -8.158579             -45.968828           -43.431440
5.0       525.024987           172.689415           3.719787         0.365712     23.805624       2.673005     0.558091           -48.221592             78.135416           65.903784            -25.443785             -49.243866           -16.665623